@import 'variables';

.blue-overlay {
  background: linear-gradient(to bottom, rgba(148,189,209,.4), rgba(91,136,164,.4));
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.about-header {
  width: 100%;
  position: relative;

  img {
    width: 100%;
  }

  h2 {
    font-family: $headerFont;
    font-weight: 300;
    color: $textColor-Dark;
    text-align: center;
    background-color: $nearWhiteOpacity;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    bottom: 4px;
    width: 100%;
    z-index: 1;
  }
}

.about-body {
  background: $bodyWhiteOpacity;
  margin: 20px;
  border-radius: 5px;
  padding: 5px 15px;

  h3 {
    font-family: $headerFont;
    font-weight: 300;
    color: $textColor-Dark;
    text-align: center;
  }

  p {
    font-family: $bodyFont;
    font-weight: 300;
    color: $textColor-Dark;
  }
}

footer {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  p {
    margin: 0;
    text-align: center;
    font-family: $bodyFont;
    padding-left: 50px;
    padding-right: 50px;
  }

  img {
    width: 50px;
  }
}
