$textColor-Light: rgba(255,255,255,0.8);
$textColor-Dark: #585858;
$navFont: "Roboto Mono", sans-serif;
$bodyFont: "Roboto", sans-serif;
$headerFont: "Libre Bidoni", serif;
$opacity: .7;
$nearWhiteOpacity: rgba(255, 255, 255, .95);
