@import 'variables';
@import 'about';

body {
  margin: 0;
  height: 100vh;
}

.main-container {
  margin: 0;
  height: 100%;
  background: radial-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7) ), url("https://github.com/william-chu/epicodus-week12/blob/master/Inspiration/Entrance.png?raw=true ");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.logo-primary, .modal-logo {
  display: block;
  margin: auto;
  width: 130px;
}

.main-head-button-flex {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
  img:hover {
    cursor: pointer;
  }
}

.main-head-button {
  background: none;
  border: none;
  &:hover {
    opacity: $opacity;
  }
  &:focus {
    outline: none;
  }
}

.navbar {
  ul {
    display: none;
  }
  li {
    list-style-type: none;
    margin: 20px 0;
  }
  a {
    text-decoration: none;
    color: $textColor-Light;;
    font-size: 1rem;
  }
  a:hover {
    opacity: .7;
  }
}

.navbar, .navlist {
  font-family: $navFont;
}

.headline {
  color: $textColor-Light;
  font-family: $headerFont;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-shadow: 0 2px 4px black;
  padding: 50px 0;
}

.text-center {
  text-align: center;
}

.scroll-button {
  display: flex;
  justify-content: center;
  img {
    position: absolute;
    bottom: 0;
    padding-bottom: 50px;
  }
  &:hover {
    opacity: $opacity;
  }
}

@media (min-width: 500px) {
  .logo-primary, .modal-logo {
    width: 150px;
  }

  .headline {
    font-size: 2.25em;
  }
}

@media (min-width: 900px) {
  .logo-primary {
    margin: inherit;
    width: 200px;
    padding: 50px;
    float: left;
  }

  .headline {
    clear: both;
    font-size: 3.5em;
  }

  .modal-logo {
    width: 200px;
  }

  .main-head-button-flex {
    display: none;
  }

  .navbar ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 50px 50px 0 0;
  }

  .scroll-button img {
    width: 70px;
  }
}

// Menu Modal

// Modal Background

.hide {
  opacity: 0;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

// Modal Content
.modal-content {
  margin: 15% auto;
  text-align: center;
  width: 90%;

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
    margin: 20px 0;
  }

  a {
    text-decoration: none;
    color: $textColor-Light;;
    font-size: 1rem;
  }

  a:hover {
    opacity: $opacity;
  }

  input {
    width: 200px;
    background: $textColor-Light;
    border-radius: 5px;
    border: none;
    color: $textColor-Dark;
    font-size: 1rem;
    font-family: $navFont;
    padding: 10px;
  }

  input:focus {
    outline: none;
  }
}

.modal-logo {
  display: block;
  margin: auto;
}

// The Close Button
.close-modal {
  display: flex;
  justify-content: flex-end;
  margin: 50px 30px;

  &:hover, &:focus {
    text-decoration: none;
    cursor: pointer;
  }
}

// Modal End
