.content-container {
  max-width: 700px;
  display: block;
  margin: auto;
}

.content-header {
  width: 100%;
  position: relative;

  img {
    width: 100%;
  }

  h2 {
    font-family: $headerFont;
    font-weight: $thinFont;
    color: $textColor-Dark;
    text-align: center;
    background-color: $nearWhiteOpacity;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    bottom: 4px;
    width: 100%;
    z-index: 1;
  }
}

.content-body {
  background: $bodyWhiteOpacity;
  margin: 20px;
  border-radius: 5px;
  padding: 5px 15px;

  h3 {
    font-size: 1.3rem;
    font-family: $headerFont;
    font-weight: $thinFont;
    color: $textColor-Dark;
    text-align: center;
  }

  p {
    font-family: $bodyFont;
    font-weight: $thinFont;
    color: $textColor-Dark;
  }

  img {
    width: 70%;
    display: block;
    margin: auto;
    max-width: 300px;
  }
}
